<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%= "" 
# stylesheet_tags 
%>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
<%= javascript_include_tag 'jquery.validate.min.js', :cache => 'jquery-core' %>
<% unless I18n.locale.to_s[0..1] == 'en' -%>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end -%>  
<%= meta_data_tags %> 
<%= yield :head %>
