<!DOCTYPE html> 
<html> 
	<head>
		<%= render :partial => "shared/head" %>
	</head>
	<body> 
		<div data-role="page">
			<div id="header" data-role="header" class="container_bg">
				<h1>
					<%= link_to title, root_path %>
				</h1>
				<%= render 'shared/nav_bar' %>
		  	</div>

			<div data-role="content">
				<%= yield %>
			</div><!-- /content -->
			
			<%= render :partial => "shared/footer" %>
		</div><!-- /page -->
	</body>
</html>
